/Library
/.vs/JPuppy/v14/.suo
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/JPuppy.Editor.csproj
/JPuppy.Plugins.csproj
/JPuppy.csproj
/JPuppy.sln
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Temp
